<div ng-controller="download-app-controll">
<div class="row" ng-repeat="app in apps">
  <div class="col-sm-6">
	<img src="image/game/{{app.index}}-small.png" class="img-fluid rounded" alt="" />
  </div>
  <div class="col-sm-6">
    <p class="bg-primary rounded">{{app.name}}</p>
  </div>

  <div class="col-sm-12">
    <p class="bg-primary rounded">{{app.description}}</p>
  </div>

  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6" ng-repeat="link in app.links track by $index">
         <img src="image/store/store-{{$index==0?'android':$index==1?'apple':$index==2?'window':$index==3?'steam':'mac'}}.png" class="rounded" />
      </div>
  </div>

</div>
</div>




  </div>
</div>
</div>
