<div class="container row" data-ng-controller="site-header-controll">

  <div class="col-sm-1">
	<img src="image/logo/logo-bg.gif" class="img-fluid rounded" alt="www.JChipGame.com" />
  </div>
  
  <div class="col-sm-11">
	<div>
	  <span class="badge bg-primary">Game</span>
      <span class="badge bg-secondary">Download</span>
      <button type="button" class="btn bg-primary" data-ng-click="goPage('game')">Game</button>
      <button type="button" class="btn bg-secondary" data-ng-click="goPage('download')">Download</button>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal">Contact us</button>
  	</div>
  	<div>
      <p class="bg-primary rounded">Welcome to Sokoban (Boxman) Online</p>
    </div>
  </div>



  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

</div>
